body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jumbotron {
	background-color: #FF007F;
	border-radius: .3rem .3rem 0 0;
	color: white;
	font-size:60px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 0;
	margin-top: 15px;
	text-align: center;
	text-shadow:1px 1px 1px #000;
}
.jumbotron h1 {
	font-family: 'Pacifico', cursive;
}
.jumbotron h3 {
	font-family: 'Cormorant Garamond', serif;
	
}

body { 
	background: black;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}
table {
	width: 100%;
	background: white;
	color: black;
}
tr {
	border-left: 1px solid white;
	border-right: 1px solid white;
}
th {
	background: black;
	color:white;
	border:none;
}
table button {
	background: transparent;
	border: none;
	color: white;
	font-weight: bold;
	text-align: left;
    width: 100%;
}
table button:focus {
	outline: none;
	
}

table button:hover {
	background: #FF007F;
	color: white;
}

